{{ define "main" }}
<div class="container">
  <h1>{{ .Title }}</h1>
  {{ if .Params.poet }}<p><strong>कवि:</strong> {{ .Params.poet }}</p>{{ end }}
  
  <div class="book-description">
    {{ .Content }}
  </div>
  
  <h2 style="margin-top: 40px;">अध्याय / Chapters</h2>
  <ul>
    {{ $current_book := .File.ContentBaseName }}
    <!-- Notice we are pulling from 'chapters' now -->
    {{ range sort (where .Site.RegularPages "Section" "chapters") "Params.weight" }}
      {{ if eq .Params.book_parent $current_book }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{ end }}
    {{ end }}
  </ul>
</div>
{{ end }}